
/*HEADER & VIDEO*/

body {
  width: 100%;
  margin: 100px;
  vertical-align: center;
}

.header {
  width: 100%;
  height: 150px;
}

.header img {
  float: right;
  /*width: 100px;*/
  /*height: 100px;*/
  margin-right: 35px;
}

.header h1 {
  position: relative;
  text-align: center;
  width:100%;
  top: 18px;
  left: 10px;
}

.video {
  text-align: center;
}

video {
  vertical-align: center;
}

input {
  margin: 5px;
}



.teamMember {
  float: left;
}

/*BUTTONS*/

.buttonsTitle {
  margin-left: 350px;
}

#button{
  float: right;
}

#buttons {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  width: 245px;
  float: left;
  margin-left: 350px;
  margin-bottom: 100px;
}

/*#member_A {
  width: 50px;
  height: 50px;
  background-color: #ff7500;
  color:#fff ;
  border-style: none;
  margin: 5px;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition:   background-color 1s;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  box-shadow: 3px 3px 2px rgba(100,174,177, 0.5);
  outline: none;
  float: left;
};*/

.button {
  width: 70px;
  height: 70px;
  background-color: #ff7500;
  color:#fff ;
  border-style: none;
  margin: 5px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition:   background-color 0.5s;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  box-shadow: 3px 3px 2px rgba(100,174,177, 0.5);
  outline: none;
  float: left;
  
}

.button:hover {
  color: #fff;
  background-color: #ff5000;
  box-shadow: 3px 3px 2px rgba(100,174,177, 0.5);
}

.button:active {
  color: #fff;
  background-color: #ff5000;
  box-shadow: 0px 0px 0px rgba(100,174,177, 0.2);
  position: relative;
  top: 2px;
}

/*.button:focus {
  color: #fff;
  box-shadow: 0px 0px 0px rgba(100,174,177, 0.9);
  position: relative;
  top: 2px;
}*/

.buttonText {
  width: 100px;
  height: 50px;
  background-color: #7EC0EE;
  border-style: none;
  margin: 5px;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition:   background-color 1s;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  box-shadow: 3px 3px 2px rgba(100,174,177, 0.5);
  outline: none;
  float: left;
}

.buttonText:hover {
  color: #fff;
  background-color: #8E388E;
  box-shadow: 3px 3px 2px rgba(100,174,177, 0.5);
  -webkit-transform:  background-color: #8E388E;
  -ms-transform:  background-color: #8E388E;
  -o-transform:   background-color: #8E388E;
  transform:  background-color: #8E388E;
}

.buttonText:active {
  color: #fff;
  background-color: #8E388E;
  box-shadow: 0px 0px 0px rgba(100,174,177, 0.9);
  position: relative;
  top: 2px;
}

#Silence {
  width: 230px;
  font-size: 25px;
  font-color: white;
}

#Export {
  background-color: green;
  width: 230px;
  vertical-align: center;
  font-color:white;
}

#nextVideo {
  font-size: 20px;
  width: 150px;
}

#team_name_input {
  width: 100%;
  font-size: 20px;
}

.teamMember {
   background: 

}



