
body {
   margin-left: 20px;
}

.button {
  width: 50px;
  height: 50px;
  background-color: #7EC0EE;
  border-style: none;
  margin: 5px;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition:   background-color 1s;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  box-shadow: 3px 3px 2px rgba(100,174,177, 0.5);
  outline: none;
}

.button:hover {
  color: #fff;
  background-color: #8E388E;
  box-shadow: 3px 3px 2px rgba(100,174,177, 0.5);
  -webkit-transform:  background-color: #8E388E;
  -ms-transform:  background-color: #8E388E;
  -o-transform:   background-color: #8E388E;
  transform:  background-color: #8E388E;

}

.button:active {
  color: #fff;
  background-color: #8E388E;
  box-shadow: 0px 0px 0px rgba(100,174,177, 0.9);
  position: relative;
  top: 2px;
}

.numbers {
  background-color: #fff;
}

.teamMember {
   background: 

}

video {
  vertical-align: center;
}


/*make the buttons more styled*/


/**/